<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="CheckerTheVen" />
    <meta name="description" content="Workbench project for testing and practicing." />
    <meta name="keywords" content="" />

    <base href="/" />

    <link rel="stylesheet" href="app.css" />

    <title>Workbench</title>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        /** Defines the time to elapse in seconds for an error to be thrown when the server doesn't respond. */
        const serverResponseTimeout = 10;
        /** Defines the interval in seconds to send a keep-alive ping to the server. */
        const keepAliveInterval = 4;

        Blazor.start({
            circuit: {
                configureSignalR: builder => builder
                    .withServerTimeout(serverResponseTimeout * 1000)
                    .withKeepAliveInterval(keepAliveInterval * 1000)
            }
        });
    </script>
</body>

</html>

